.ipynb_checkpoints
writtenCSV.csv
pickledData
woops.txt
writtenCSV2.csv
writtenCSV3.csv
dogs.json
dogs_indent.json
pickledData2
store.xlsx
Food.xlsx
my_database.db
My XL file.xlsx
countries-of-the-world.csv
salaries.xlsx
houses.csv
temp-plot.html
